* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  /* auto | thin | none */
  scrollbar-color: var(--primary-yellow) #f1f1f1;

}

.step i {
  font-size: 20px;
  color: #ccc;
}

.step i.completed {
  color: #ffcc00;
}

.step i.pending {
  color: #bbb;
}

body {
  background: #f8f9fb;
  color: var(--secondary-blue);
}

.container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.profile-menu {
  position: relative;
  display: inline-block;
}

.profile-menu .dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  min-width: 150px;
  height: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.profile-menu:hover .dropdown {
  display: block;
}

.profile-menu .dropdown a {
  display: block;
  color: #333;
  padding: 5px 0;
  text-decoration: none;
}

.profile-menu .dropdown a:hover {
  color: var(--primary-yellow);
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Header */
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.order-header h2 {
  font-size: var(--fs-24);
}

.order-header .order-id {
  color: var(--primary-yellow);
}

.order-header .date {
  color: var(--card-grey);
  font-size: var(--fs-14);
}

.order-tracking {
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* form */
#register{
    width: 100%;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#register .wrapper{
    width: 90%;
    height: 90%;
    background-color: var(--secondary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
#register .wrapper .form-container{
    width: 95%;
    height: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#register .wrapper .form-container .info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#register .wrapper .form-container .info .form-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#register .wrapper .form-container .info .form-row .form-group{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#register .wrapper .form-container .info .form-group input,
select,
textarea {
  background-color: transparent;
  border: 1px solid var(--primary-yellow);
  padding: 10px;
  border-radius: 4px;
  color: white;
}
#register .wrapper .form-container .info .full-width{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#register .wrapper .form-container .info .full-width input{
  background-color: transparent;
  border: 1px solid var(--primary-yellow);
  padding: 10px;
  border-radius: 4px;
  color: white;
}
#register .wrapper .form-container .info .form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#register .wrapper .form-container .info .form-row .form-group select option {
  color: rgb(255, 255, 255);
  background-color: var(--secondary-blue);
}
